{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <div class="limiter">
        <div class="message-box">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="container-login">
            <div class="wrap-login p-l-55 p-r-55 p-t-65 p-b-50">
                <form class="login-form validate-form" action="{{ path('web.password.restore.post') }}" method="POST">
					<span class="login-form-title p-b-33">
						Enter code and new password
					</span>

                    <div class="wrap-input validate-input">
                        <input class="input" type="email" name="code" placeholder="Code">
                        <span class="focus-input-1"></span>
                        <span class="focus-input-2"></span>
                    </div>

                    <div class="wrap-input validate-input">
                        <input class="input" type="password" name="password" placeholder="New password">
                        <span class="focus-input-1"></span>
                        <span class="focus-input-2"></span>
                    </div>

                    <input class="input" type="hidden" name="contact" value="{{ contact }}">

                    <div class="container-login-form-btn m-t-20">
                        <button class="login-form-btn">
                            Apply
                        </button>
                    </div>

                    <div class="text-center p-t-45 p-b-4">
						<span class="txt1">
							The code to confirm the new password was sent to {{ contact }}
						</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
